* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font: 50%;

}
h1{
    padding: 0;
    margin: 0;
    width: auto;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    color: orangered;
    font: verdana;
}

header{
    padding: 0;
    margin: 0;
    height: 10%;
    width: 100%;
    background-color: gainsboro;
    border-radius: 5px;
    text-align: justify;
}

h2 {
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    font: 80% sans-serif;
    text-align: center;
    line-height: 20px;
}

.section1 {
    background-color: gainsboro;
    width: 35%;
    height: 100%;
    margin-top: 1em;
    border-radius: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: 100% italic;
    display: inline-block;
    margin-block-end: 5em;
    padding-block-end: 2em;
    padding-top: 1em;
}

#rightaside {
    width: 40%;
    margin: 1em;
    background-color: gainsboro;
    border-radius: 1em;
    position: absolute;
    display: inline-table;
    padding-bottom: 10em;
    padding-left: 30px;
}

#leftaside {
    width: 15%;
    height: 47em;
    margin: 1em;
    background-color: gainsboro;
    float:left;
    border-radius: 1em;
}

h3 {
 color: orangered;
 font-weight: bold;
 text-align: center;
 padding: 1em;
}

h4 {
    font: 90% sans-serif bolder;
    text-align: center;
    padding: 1em;
}

.postits {
    width: 12em;
    height: 12em;
    margin: 10px;
    background-color: #f8d23a;
    display: inline-table;
    position: relative;
}

body {
    background-image: url(css/fondobusqueda.jpg);
    background-size: cover;
}

.menubuttons {
    border-radius: 30px;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    border-color: gray;
    display: block;
}

.buttons {
    border-radius: 30px;
    color: black;
    padding: 20px;
    background-color: gainsboro;
    border-color: gray;
    align-content: center;
    position: relative center;
}

#saveAnswer {
    color: white;
    padding: 20px;
    background-color: orangered;
    border-radius: 30px;
    border-color: gray;
}

#info1 {
    width: 30em;
    height: 10em;
    border-radius: 20px;
    text-align: center;
}

#mensaje2 {
    width: 30em;
    height: 10em;
    border-radius: 20px;
}

.detaildate {
    text-align: right;
    font-size: small;
    font-style: italic;
    color: brown;
    font-weight: 800;
}

.notes {
    font: sans-serif;
    min-height: 95%;
    display: flex;
    align-items: center;
    text-align: center;
}

#date1 {
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    background-color: #f8d23a;
}
